
  @import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
list-style: none;
justify-content: center;

}

body {
    background-color: lightblue;
    min-height: 100vh;
    display: block;
 
}

#menu {
	background: #005A78;
	color: #FFF;
	height: 50px;
	padding-left: 18px;
	border-radius: 0px;
    width: 100%;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 50px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 50px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 50px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}


.container {
    position:relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 50px auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow:  0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_Side {

    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}


.profileText .imgBx{

    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.profileText h2 {

    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span{

    font-size: 0.8em;
    font-weight: 300;
}

.contactInf {

    padding-top: 40px;
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInf ul {

    position: relative;

}

.contactInf ul li {

    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInf ul li .icon { 

    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInf ul li span {

    color: #fff;
    font-weight: 300;
 }


.contactInfo_language{

    margin-top: 10px;

 }

.contactInfo_language .percent{

    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
    

}

.contactInfo_language .percent div{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
    
}

.contactInfo_language li {
    color: #fff;
    list-style: none;
    margin-top: 10px;
}


.container .right_Side {

    position: relative;
    background: #fff;
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {

    margin-bottom: 0;
}

.title2 {

    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{

    color: #333;

}

.about .box{

    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {

    min-width: 150px;
}

.about .box .year_company h5 {

    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4{

    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .box {

    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;

}

.skills .box h4{

    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box .percent{

    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .percent div {

    position:absolute;
    top:0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.interest ul {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa {

    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px)

{

    .container{
        margin:10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul 
    {

        grid-template-columns: repeat(2,1fr);

    }
}

@media (max-width: 600px)

{

    .about .box {

        flex-direction: column;
    }

    .about .box .year_company {

        margin-bottom: 5px;  
  }

  .interest ul 
  {

      grid-template-columns: repeat(1,1fr);

  }
  .skills .box{

    grid-template-columns: repeat(1,1fr);
  }
}